* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --background-color: #ededed;
    --primary-color: #272727;
    --secondary-color: #5462e6;
}